<tr id="item-row-{{ item.id }}">
    <td class="col-select"><input type="checkbox" name="item_ids" value="{{ item.id }}" style="transform: scale(1.5);"></td>
    <td class="col-name">{{ item.name }}</td>
    <td class="col-cost">{{ '%.6f'|format(item.cost) }} / {{ item.base_unit }}</td>
    <td class="col-actions">
        <a href="{{ url_for('item.view_item', item_id=item.id) }}" class="btn btn-primary">View</a>
        <button type="button" class="btn btn-secondary edit-item-btn ms-1" data-item-id="{{ item.id }}">Edit</button>
        <button type="button" class="btn btn-secondary copy-item-btn ms-1" data-item-id="{{ item.id }}">Copy</button>
        <a href="{{ url_for('item.item_locations', item_id=item.id) }}" class="btn btn-info ms-1">Locations</a>
    </td>
</tr>
