<tr id="item-row-{{ item.id }}">
    <td><input type="checkbox" name="item_ids" value="{{ item.id }}" style="transform: scale(1.5);"></td>
    <td><a href="{{ url_for('item.view_item', item_id=item.id) }}">{{ item.name }}</a></td>
    <td>{{ '%.2f'|format(item.cost) }} / {{ item.base_unit }}</td>
    <td>
        <button type="button" class="btn btn-secondary edit-item-btn" data-item-id="{{ item.id }}">Edit</button>
        <a href="{{ url_for('item.item_locations', item_id=item.id) }}" class="btn btn-info ms-1">Locations</a>
    </td>
</tr>
