{% extends 'base.html' %}
{% block content %}
<h2>{{ item.name }} Locations</h2>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr><th>Location</th><th>Quantity</th></tr>
    </thead>
    <tbody>
    {% for e in entries %}
        <tr><td>{{ e.location.name }}</td><td>{{ e.expected_count }}</td></tr>
    {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{ total }}</strong></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}
