<form id="locationForm" action="{{ url_for('locations.add_location') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="modal-header">
        <h5 class="modal-title">Add New Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-check mb-3">
            {{ form.is_spoilage(class="form-check-input") }}
            {{ form.is_spoilage.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            <label for="productSearch" class="form-label">Select Products</label>
            <input type="text" id="productSearch" class="form-control" placeholder="Enter product name" autocomplete="off">
            <div id="productSuggestions" class="list-group"></div>
        </div>
        <ul id="selectedProducts" class="list-group mb-3"></ul>
        {{ form.products(id="products") }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<script>
$(document).ready(function () {
    var selectedProducts = {};
    var preselected = {{ selected_products|tojson|safe }};
    preselected.forEach(function(p) { addProduct(p.id, p.name); });

    $('#productSearch').keyup(function () {
        var query = $(this).val();
        $.get('{{ url_for('product.search_products') }}', {query: query}, function (response) {
            var suggestions = response.map(function (p) {
                return '<a href="#" class="list-group-item list-group-item-action" data-id="' + p.id + '" data-name="' + p.name + '">' + p.name + '</a>';
            });
            $('#productSuggestions').html(suggestions.join(''));
        });
    });

    $('#productSuggestions').on('click', '.list-group-item', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var name = $(this).data('name');
        addProduct(id, name);
        $('#productSearch').val('');
        $('#productSuggestions').empty();
    });

    $('#selectedProducts').on('click', '.remove-product', function () {
        var li = $(this).closest('li');
        var id = li.data('id');
        delete selectedProducts[id];
        li.remove();
        updateHidden();
    });

    function addProduct(id, name) {
        if (!selectedProducts[id]) {
            selectedProducts[id] = name;
            var li = '<li class="list-group-item d-flex justify-content-between align-items-center" data-id="' + id + '">' + name + '<button type="button" class="btn btn-sm btn-danger remove-product">Remove</button></li>';
            $('#selectedProducts').append(li);
            updateHidden();
        }
    }

    function updateHidden() {
        var ids = Object.keys(selectedProducts);
        $('#products').val(ids.join(','));
    }
});
</script>
