{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Stand Sheet - {{ location.name }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Expected Opening</th>
                <th>Opening Count</th>
                <th>Transferred In</th>
                <th>Transferred Out</th>
                <th>Eaten</th>
                <th>Spoiled</th>
                <th>Closing Count</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in stand_items %}
            <tr>
                <td>{{ entry.item.name }}</td>
                <td>{{ entry.expected }}</td>
                <td><input type="number" class="form-control" name="open_{{ entry.item.id }}"></td>
                <td><input type="number" class="form-control" name="in_{{ entry.item.id }}"></td>
                <td><input type="number" class="form-control" name="out_{{ entry.item.id }}"></td>
                <td><input type="number" class="form-control" name="eaten_{{ entry.item.id }}"></td>
                <td><input type="number" class="form-control" name="spoiled_{{ entry.item.id }}"></td>
                <td><input type="number" class="form-control" name="close_{{ entry.item.id }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
