{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Transfers List</h2>
    <div class="row mb-3 align-items-center">
        <div class="col-12 col-lg-auto mb-2 mb-lg-0 d-flex align-items-center">
            <a href="{{ url_for('transfer.add_transfer') }}" class="btn btn-primary me-2">Add New Transfer</a>
            <button id="new-transfer-alert" class="btn btn-warning me-2" onclick="window.location.reload();"
                    style="display: none;">
                <img src="{{ url_for('static', filename='img/alert_icon.png') }}" alt="Reload"
                     style="width: 20px; height: 20px;"/>
            </button>
            <a href="{{ url_for('transfer.generate_report') }}" class="btn btn-info me-2">Generate Report</a>
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <div class="col-12 col-lg d-flex">
            <form action="" method="get" class="d-flex flex-wrap align-items-end flex-grow-1">
                <select name="filter" class="form-control me-2 mt-1 narrow-field" onchange="this.form.submit()">
                    <option value="not_completed">Not Completed</option>
                    <option value="completed" {% if request.args.get(
                    'filter') == 'completed' %}selected{% endif %}>Completed</option>
                    <option value="all" {% if request.args.get(
                    'filter') == 'all' %}selected{% endif %}>All Transfers</option>
                </select>
                <input type="text" name="transfer_id" class="form-control me-2 mt-1 narrow-field" placeholder="Transfer ID"
                       value="{{ request.args.get('transfer_id', '') }}">
                <input type="text" name="from_location" class="form-control me-2 mt-1 narrow-field" placeholder="From Location"
                       value="{{ request.args.get('from_location', '') }}">
                <input type="text" name="to_location" class="form-control me-2 mt-1 narrow-field" placeholder="To Location"
                       value="{{ request.args.get('to_location', '') }}">
                <button type="submit" class="btn btn-info mt-2">Search</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">From Location</th>
            <th scope="col">To Location</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transfer in transfers %}
        <tr>
            <th scope="row">{{ transfer.id }}</th>
            <td>{{ transfer.from_location.name }}</td>
            <td>{{ transfer.to_location.name }}</td>
            <td>
                <a href="{{ url_for('transfer.view_transfer', transfer_id=transfer.id) }}" class="btn btn-primary"
                   target="_blank">View</a>
                <a href="{{ url_for('transfer.edit_transfer', transfer_id=transfer.id) }}"
                   class="btn btn-secondary">Edit</a>
                {% if transfer.completed %}
                <a href="{{ url_for('transfer.uncomplete_transfer', transfer_id=transfer.id) }}"
                   class="btn btn-success">Incomplete</a>
                {% elif not transfer.completed %}
                <a href="{{ url_for('transfer.complete_transfer', transfer_id=transfer.id) }}"
                   class="btn btn-success">Complete</a>
                {% endif %}
                <form action="{{ url_for('transfer.delete_transfer', transfer_id=transfer.id) }}" method="post"
                      class="d-inline">
                    {{ form.hidden_tag() }}
                    <input type="submit" value="Delete" class="btn btn-danger"
                           onclick="return confirm('Are you sure?');">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var protocol = window.location.protocol;
    var socket = io.connect(protocol + '//' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Websocket connected!');
    });

    socket.on('new_transfer', function(data) {
        //alert(data.message);
        document.getElementById('new-transfer-alert').style.display = 'inline-block';
    });
</script>
{% endblock %}
