{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Application Settings</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.gst_number.label }}
            {{ form.gst_number(class='form-control') }}
        </div>
        <div class="form-group mt-2">
            {{ form.default_timezone.label }}
            {{ form.default_timezone(class='form-control') }}
        </div>
        <div class="form-check form-switch mt-2">
            {{ form.auto_backup_enabled(class='form-check-input') }}
            {{ form.auto_backup_enabled.label(class='form-check-label') }}
        </div>
        <div class="row mt-2">
            <div class="col">
                {{ form.auto_backup_interval_value.label }}
                {{ form.auto_backup_interval_value(class='form-control') }}
            </div>
            <div class="col">
                {{ form.auto_backup_interval_unit.label }}
                {{ form.auto_backup_interval_unit(class='form-control') }}
            </div>
        </div>
        <div class="form-group mt-2">
            {{ form.max_backups.label }}
            {{ form.max_backups(class='form-control') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>
{% endblock %}
