{% extends 'base.html' %}
{% block content %}
<h2>Create Event</h2>
<form method="post">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(class='form-control') }}
    {{ form.start_date.label }} {{ form.start_date(class='form-control') }}
    {{ form.end_date.label }} {{ form.end_date(class='form-control') }}
    {{ form.event_type.label }} {{ form.event_type(class='form-control') }}
    {{ form.estimated_sales.label }} {{ form.estimated_sales(class='form-control', placeholder='Optional') }}
    {{ form.submit(class='btn btn-primary mt-2') }}
</form>
{% endblock %}
