{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Spoilage</h2>
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#filterModal">
        Filters
    </button>

    <div id="results-container">
        {% include 'spoilage/_table.html' %}
    </div>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="filterForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-12">
                            {{ form.start_date.label }}
                            {{ form.start_date(class='form-control') }}
                        </div>
                        <div class="col-12">
                            {{ form.end_date.label }}
                            {{ form.end_date(class='form-control') }}
                        </div>
                        <div class="col-12">
                            {{ form.purchase_gl_code.label }}
                            {{ form.purchase_gl_code(class='form-select') }}
                        </div>
                        <div class="col-12">
                            {{ form.items.label }}
                            {{ form.items(class='form-select', multiple=True) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script nonce="{{ csp_nonce }}">
    $(function () {
        $('#filterForm').on('submit', function (e) {
            e.preventDefault();
            var params = $(this).serialize();
            $.ajax({
                url: '{{ url_for('spoilage.view_spoilage') }}',
                type: 'GET',
                data: params,
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
                success: function (response) {
                    $('#results-container').html(response);
                    var modalEl = document.getElementById('filterModal');
                    var modal = bootstrap.Modal.getInstance(modalEl);
                    modal.hide();
                }
            });
        });
    });
</script>
{% endblock %}
